* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation bar */
#navigation {
  background-color: rgb(27, 10, 103);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;

}

/* Logo */
.LOGO h2 {
  color: aliceblue;
  margin-left: 20px;
}

/* Main menu */
#navigation > ul {
  display: flex;
  margin-right: 50px;
}

/* Main menu item */
#navigation > ul > li {
  list-style: none;
  position: relative; 
}

/* Main menu link */
#navigation > ul > li > a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  border-right: 1px solid white;
  padding: 15px 20px;
  display: block;
  transition: 0.5s;
}

/* First item border */
#navigation > ul > li:first-child > a {
  border-left: 1px solid white;
}

/* Hover effect */
#navigation > ul > li:hover > a {
  background-color: rgb(58, 38, 210);
}

/* Dropdown menu */
.DropDownManu {
  background-color: rgb(27, 10, 103);
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 190px;
  display: none;
  text-align: center; 

  
}

/* Dropdown items */
.DropDownManu li {
  padding: 10px 0;
  color: white;
  border-bottom: 1px solid white;

}
.DropDownManu li> a{
  color: white;
  text-decoration: none;

}
.DropDownManu :hover{
  background-color: rgb(58, 38, 210);
}

/*  Dropdown show on hover */
#navigation > ul > li:hover > .DropDownManu {
  display: block;
}
